<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onlinecoffeeorderapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineCoffeeOrderApp"
        tools:targetApi="33">

    <activity
        android:name=".MainClass"
        android:label="@string/app_name"
        android:exported="true"
        android:parentActivityName=".HomePageClass"
        tools:ignore="WrongManifestParent">

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

    </activity>

    <activity
        android:name=".HomePageClass"
        android:label="@string/home_page_name"
        android:exported="true"
        tools:ignore="WrongManifestParent"/>

    <activity
        android:name=".PaymentClass"
        android:label="Payment Gateway"
        android:exported="true"
        tools:ignore="Instantiatable,WrongManifestParent"/>

    </application>
</manifest>